h1 {
    text-align: center;
    color: #97bf04;
    background-color: #120323;
    padding: 20px
}

#buttons {
    display: block;
    text-align: center;
    padding-top: 20px;
}

#image {
    display: block;
    margin: auto;
    max-height: 600px;
    max-width: 900px;
    box-shadow: -5px -5px 10px 5px;
}